# 1. Build artifacts & Intermediate files
/build
/app/build
/app/intermediates

# 2. Local Configuration & IDE files
/local.properties
.gradle/
.idea/
*.iml
*.iws
*.ipr

# 3. macOS Metadata Files (Untuk file yang diawali titik ._)
# Ini mengatasi semua file yang diawali '._' dan juga .DS_Store
._*
**/.DS_Store
